<header class="page-header">
<h1>Admin &raquo; Store Status</h1>
</header>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Categories</th>
      <th>Total number of products</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td><a href="/admin/categories"><%= @category.length %></a></td>
      <td><a href="/admin/products"><%= @product.length %></a></td>
    </tr>
  </tfoot>
</table> 